# System files
.DS_Store

# Python venv
.venv/
venv/
backend/.venv/
ENV/
env/

# Node modules
node_modules/
frontend/node_modules/

# Vite / React build
dist/
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Package managers lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Byte-compiled cache
**/__pycache__/
**/*.py[cod]
*.pyc
__pycache__/

# SQLite DB
backend/*.sqlite3

# Env files
*.env
.env
!.env.example

# Datasets
Datasets_Analysis/

# Backend data
backend/data/

# Test temporary CSVs
tmp/*.csv
tests/*.csv

# Test and coverage artefacts
.coverage
htmlcov/
.pytest_cache/
coverage.xml
pytest.ini

# Flask build artefacts
*.egg-info/
build/
develop-eggs/
dist/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg

# Editors
.vscode/
.idea/
*.sw?
