.DS_Store

# Python venv
.venv/
venv/
backend/.venv/

# Node modules
frontend/node_modules/

# Byte-compiled cache
**/__pycache__/
**/*.py[cod]

# SQLite DB
backend/*.sqlite3

# Env files
*.env

backend/.venv/
backend/__pycache__/
frontend/node_modules/
Datasets_Analysis/
.env
*.env
