.DS_Store

# System files
.DS_Store

# Python venv
.venv/
venv/
backend/.venv/

# Node modules
frontend/node_modules/

# Byte-compiled cache
**/__pycache__/
**/*.py[cod]
*.pyc
__pycache__/

# SQLite DB
backend/*.sqlite3

# Env files
*.env
.env

# Datasets
Datasets_Analysis/

# Backend data
backend/data/

# Test temporary CSVs
tmp/*.csv
tests/*.csv
