@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

@theme {
  --background-image-home-hero: url('/hero.jpg');
  --background-image-home-nba: url('/NBA.jpg');
}
